{% extends 'base.html.twig' %}

{% block title %}Strona g贸wna{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Witaj w Symfony Demo </h1>
        <p class="col-md-8 fs-4">
            To jest przykadowa aplikacja z Bootstrapem i Stimulus. 
            Zobacz jak backend i frontend wsp贸pracuj razem.
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Zobacz posty</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Pierwszy artyku</h5>
                <p class="card-text">Kr贸tki opis treci artykuu...</p>
                <a href="#" class="btn btn-outline-primary">Czytaj wicej</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Drugi artyku</h5>
                <p class="card-text">Kr贸tki opis treci artykuu...</p>
                <a href="#" class="btn btn-outline-primary">Czytaj wicej</a>
            </div>
        </div>
    </div>
</div>

<div data-controller="hello" class="alert alert-info mt-4">
    Ten element jest pod kontrol Stimulus 
</div>
{% endblock %}
