<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony Demo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ encore_entry_link_tags('app') }}
</head>
<body class="d-flex flex-column min-vh-100">

{% include 'components/_navbar.html.twig' %}

<main class="container my-4 flex-grow-1">
    {% block body %}{% endblock %}
</main>

{% include 'components/_footer.html.twig' %}

{{ encore_entry_script_tags('app') }}
</body>
</html>
